body {
	background-color: #DAE1F7;
}

*{
	color: #FFF;
	margin-right: 10px;
	margin-bottom: 10px;
}
.inline{
	display: inline-block;
	vertical-align: text-top;
}
.form-control{
	min-width: 300px;
}
.nav{
	display: inline-block;
	height:100%;
	font-size: 2em;
}

#navbar{
	background-color:#AAB0BF;
	display: block;
	width: 100%;
}
